PAPERLESS_URL=http://your-ip:8000			 # URL of your paperlessNGX instance
PAPERLESS_TOKEN=your_token_here              # PaperlessNGX authentication token: My Profile > API Auth Token 
OLLAMA_URL=http://your-ip:11434/api/generate # URL of your ollama instance
MODEL=minicpm-v:latest                       # ollama model with support for image data
TAG_ID=1065                                  # Processed documents will be associated with this tag and excluded from reprocessing (ocr-done)
PAGE_LIMIT=3                                 # max number of pages to be OCR processed
BUFFER_SIZE=5                                # buffer of preproccessed documents for OCR
NUMBER_CORES=4                               # number of cores used for parallel OCR processes
FAILED_TAG_ID=1066	                         # tag id of the 'ocr-failed' tag in paperless
OLLAMA_TIMEOUT=600                           # Time in seconds to wait for Ollama (10 minutes is safer for complex docs)
OLLAMA_RETRIES=2                             # How many times to retry a timed-out request
LOG_MAX_MB=10                                # Maximum size of the log file in MB before it rotates
LOG_BACKUP_COUNT=5                           # Number of old log files to keep as history
DOCLING_LANGS=de,en                          # OCR languages for docling
DOCLING_URL=http://localhost:5001			 # docling-serve URL