PAPERLESS_URL=http://your-ip:8000			 # URL of your paperlessNGX instance
PAPERLESS_TOKEN=your_token_here              # PaperlessNGX authentication token: My Profile > API Auth Token 
OLLAMA_URL=http://your-ip:11434/api/generate # URL of your ollama instance
MODEL=minicpm-v:latest                       # ollama model with support for image data
TAG_ID=1065                                  # Processed documents will be associated with this tag and excluded from reprocessing
PAGE_LIMIT=3                                 # max number of pages to be OCR processed
BUFFER_SIZE=5                                # buffer of preproccessed documents for OCR